[submodule "public"]
	path = public
	url = git@github.com:memoex/memoex.github.io.git
	branch = master
[submodule "themes/blue"]
	path = themes/blue
	url = git@xiaoshatong:memoex/blue.git
	branch = master
